@page "/counter"
@using Newtonsoft.Json;
@using VideoView.Models.Cat;
@using VideoView.Models.Dto;

@inject HttpClient client;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<br />
<br />

<p>@text</p>

@code {
    private int currentCount = 0;

    private string text;

    private async void IncrementCount()
    {
        currentCount++;

        //var result3 = await client.GetStringAsync("https://firestore.googleapis.com/v1/projects/rolka-videosmth/databases/(default)/documents/cats");
        //var result = await client.GetAsync("https://firestore.googleapis.com/v1/projects/rolka-videosmth/databases/(default)/documents/cats");
        //Cat result2 = await client.GetFromJsonAsync<Cat>("https://firestore.googleapis.com/v1/projects/rolka-videosmth/databases/(default)/documents/cats/katinc");
        //var result = await client.GetFromJsonAsync<List<Cat>>("https://firestore.googleapis.com/v1/projects/rolka-videosmth/databases/(default)/documents/cats");



        //Cat cat = new Cat();
        //cat.fields.name.stringValue = "VARDENIS";
        //string ser = JsonConvert.SerializeObject(cat.fields);
        //var result = await client.PostAsJsonAsync($"https://firestore.googleapis.com/v1/projects/rolka-videosmth/databases/(default)/documents/cats", new { fields = cat.fields });

        //CatDocuments myDeserializedClass = JsonConvert.DeserializeObject<CatDocuments>(result3);

        //List<Cat> katenai = myDeserializedClass.documents;

        //Cat CC = katenai.FirstOrDefault(k => k.fields.name.stringValue == "vardenis");
        //text = CC.name;

        string key = "AIzaSyAtMYXiTMigdvDTG6B4V6MP768GL591NVo";

        //UserRegisterDto dto = new UserRegisterDto();
        //dto.email = "Userrr@user.user";
        //dto.password = "UserUser11";
        //dto.returnSecureToken = true;
        //var result = await client.PostAsJsonAsync($"https:identitytoolkit.googleapis.com/v1/accounts:signUp?key={key}", new
        //{
        //    email = "Petras@gmail.com",
        //    password = "SLAPTASzodis",
        //    returnSecureToken = true
        //});

    var result = await client.PostAsJsonAsync($"https://identitytoolkit.googleapis.com/v1/accounts:signInWithPassword?key={key}", new
        {
            email = "Petras@gmail.com",
            password = "SLAPTASzodis",
            returnSecureToken = true
        });

        //AuthUserDto dto = new AuthUserDto();
        //dto.email = "Userrr@user.user";
        //dto.password = "UserUser11";
        //dto.returnSecureToken = true;
        //var result = await client.PostAsJsonAsync($"https:identitytoolkit.googleapis.com/v1/accounts:signUp?key=AIzaSyAtMYXiTMigdvDTG6B4V6MP768GL591NVo", dto);



        //UserRegisterDto dto = new UserRegisterDto();
        //dto.email = "User@user.user";
        //dto.password = "UserUser11";
        //dto.returnSecureToken = true;
        //var result = await client.PostAsJsonAsync($"https:identitytoolkit.googleapis.com/v1accounts:signInWithPassword?key=AIzaSyAtMYXiTMigdvDTG6B4V6MP768GL591NVo", dto);


        Console.WriteLine("asd");

        //text = "CCC";
        //StateHasChanged();

    }
}
